/* Creative Computing Style Sheet */
body {
    font-size: .8em;   
	font-family: 'IBM Plex Mono', monospace;
    line-height: 1.4;
    background-image: url("bgcc.gif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 101%;
    position: absolute;
    margin-left: 5rem;
    margin-top: 2rem;
	}
a:link {
	color: black;
  	text-decoration: none;
	}
a:visited {
	color: black;
  	text-decoration: none;
	}
a:hover {
	font-weight: 500;
	color: red;
	}
.top{
	position: fixed;
	margin-bottom:2rem;
	}
.inner{
	margin-top: 5rem;
	}
.name {
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	left: 114rem;
	top: 4.5rem;
	position: fixed;
	}
	
/* Mobile Styles */
@media only screen and (max-width: 50rem) {

.page {
    margin: 0 auto;
  }
  
body {
  background: #555555;
  font-size: 1rem;
  color: white;
  margin-left: 2rem;
  margin-top: 1rem;
  
	}
.top{
	position: relative;
	margin-bottom: -2rem;
	}
a:link {
	color: white;
  	text-decoration: none;
	}
a:visited {
	color: white;
  	text-decoration: none;
	}
a:hover {
	font-weight: 500;
	color: red;
	}


}



