html{
	font-size: 62.5%;
	height: 100%;
	}
body {
	height: 100%;
	margin: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	}
#glass{
	width: 30rem;
	height: 55rem;
	background-color: #e3f8ff;
	position: relative;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC; 
	z-index: 20;
	}
.top{
	position: absolute; /*we used this . because we had multiple divs using the same code*/
	width: 30rem;
	height: 15rem;
	top: -7.5rem;
	border-radius: 50%;
	}
#glass > .top{
	background-color: #f2fcff;
	left: -0.1rem;
	border: solid 1px #d9d9d9;
	}
#water{
	width: 30rem;
	height: 35rem;
	background-color: #a1f0ff;
	position: relative; /*relative position inside the water element makes the > .top element move within the item and not all across the page*/
	}
#water > .top{
	background-color: #a1f0ff;
	border: solid 1px #89ccd9;
	box-sizing: border-box; /*pushed the overhang in not out*/
	}
#water > .bottom{
	width: 30rem;
	height: 15rem;
	border-radius: 50%;
	position: absolute;
	bottom: -7.5rem;
	background-color: #a1f0ff;
	box-sizing: border-box;
	border: solid 1px #89ccd9;
	}
.bubble {
	position: absolute;
	width: .8rem;
	height: .4rem;
	border-radius: 50%;
	opacity: .75;
	background: #FFF;
	border-left: solid 1px #b4b4b4;
	border-bottom: solid 1px #b4b4b4;
	transition: top .5s ease-in-out, opacity .75s ease-in-out;/*multiple transitions use comma*/
	transition-delay: 0s, .5s;
	}
.bubble-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	}
.bubble-wrapper .bubble:nth-child(1) {
	top: 70%; 
	left: 70%;
	}
.bubble-wrapper .bubble:nth-child(2) {
	top: 46%; 
	left: 40%;
	}
.bubble-wrapper .bubble:nth-child(3) {
	top: 58%; 
	left: 10%;
	}
.bubble-wrapper .bubble:nth-child(4) {
	top: 29%; 
	left: 15%;
	}
.bubble-wrapper .bubble:nth-child(5) {
	top: 30%; 
	left: 58%;
	}
.bubble-wrapper .bubble:nth-child(6) {
	top: 49%; 
	left: 80%;
	}
	
.bubble.pop{ /*bubbles that also have the class pop*/
	top: 0% !important; /*overrides settings above*/
	opacity: 0;
	}

#table{
	width: 125vw;
	height: 100vh;
	position: absolute;
	top: 60vh;
	background: #fde7f3;
	transform: rotateZ(10deg);
	}

	
	
	
	
	
	
	
	
	
	